<div class="btn-group">
    <button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown"
            data-hover="dropdown" data-close-others="true">
        <span class="hidden-sm hidden-xs">دسترسی سریع&nbsp;</span>
        <i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a href="javascript:;">
                ثبت کتاب جدید
            </a>
        </li>
        <li>
            <a href="javascript:;">
                ثبت گروه بندی جدید
            </a>
        </li>
        <li>
            <a href="javascript:;">
                مدیریت کاربران
            </a>
        </li>
        <li>
            <a href="javascript:;">
                پیگیری فروش ها <i class="fa-solid fa fa-refresh fa-spinner fa-spin"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                پیگیری سفارشات <i class="fa-solid fa fa-refresh fa-spinner fa-spin"></i>
            </a>
        </li>
        <li class="divider"> </li>
        <li>
            <a href="javascript:;">
                بازخوردها و نظرات
                <span class="badge badge-danger">4</span>
            </a>
        </li>
    </ul>
</div>